---
---

.coming-soon {
    .img-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .img {
            object-position: 50% 10px;
        }
    }
}