---
---

body {
	margin: 0;

	.coming-soon {
		.img-wrapper {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
	
			.img {
				object-position: 50% 10px;
				max-width: 100%;
			}
		}
	}
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400&display=swap");

body {
    font-family : Montserrat;
	line-height: 1.5;

	header {
		position: relative;
		min-height: 70vh;

		&:before {
			content: "";
			background: url(../images/header-background.jpg) no-repeat center center;
			background-size: cover;
			height: 70vh;
			left: 0;
			position: absolute;
			width: 100%;
		}

		.lead {
			color: #fff;
		}
	}

    .landing {
		#biodata {

		}

		#skill-set {
			.pl-icon {
				height: 120px;
				width: 120px;
				font-size: 8em;
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				opacity: 0.5;
				transition: all 0.2s ease-in-out;
	
				&:hover {
					opacity: 1;
					filter: none;
					-webkit-filter: none;
				}
			}
		}

		#working-experience {

		}

		#hobby {
			.hobby-item {
				height: 350px;
				width: 350px;
				
				img {
					height: 350px;
					width: auto;
				}
			}
		}
    }
}