<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content={{ page.description }}>
        <meta name="title" content={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}>

        <!-- SEO - Open Graph Meta -->
        <meta property="og:title" content={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}>
        <meta property="og:site_name" content={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}>
        <meta property="og:description" content={% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}>
        <meta property="og:url" content="https://davidchoy98.github.io">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/scss/styles.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
        </script>
        <script src="https://kit.fontawesome.com/5fc4bb432c.js" crossorigin="anonymous"></script>
        <noscript>You must enable Javascript to view this page.</noscript>
        
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">{{ site.title }}</a>
                </div>
            </div>
        </nav>

        <!-- Content -->
        {{ content }}
		
		<!-- Footer -->
		<footer class="page-footer font-small pt-4">
			<p class="text-center"><small>Copyright &#169; David Choy, 2020</small></p>
		</footer>
    </body>
</html>